.TransactionList-radio, .TransactionList-radio-label {
  margin-left: 15px;
  margin-right: 15px;
}

.TransactionList-filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.TransactionList-pagination {
  display: flex;
  justify-content: center;
}

.custom-control-label {
  cursor: pointer;
}