.table {
  background-color: rgba(211, 231, 175, 0.856);
}

.table thead {
  background-color: white;
}

.table tr td:last-child, .table tr th:last-child {
  text-align: right;
}

.row-transaction {
  cursor: pointer;
  font-size: 14px;
}

.row-send {
  background-color: rgb(255, 172, 172);
}

.row-recieve {
  background-color: rgb(146, 255, 219);
}

.row-active {
  border: 3px solid green;
  box-shadow: 0 0 25px rgb(156, 221, 199);
  transition: border .15s ease-in-out,box-shadow .15s ease-in-out;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid;
}
